.firstbox{
    border: black 2px solid;
}
#internal_ul{
    background-color: aqua;
}
ol{
    background-color: yellow;
}
p[name="first_p_tag"]{
    background-color: pink;
}
body{
    background-color: green;
}
img{
    border-radius: 5%;
}